<% if courses.blank? %>
  Ningún curso se ha seleccionado
<% else %>
	<table>
		<thead></thead>
		<tbody>
		  <% courses.each do |c| %>
			  	<tr>
			  		<td>
		      		<%= check_box_tag 'courses[]', c.id, false, id:"course_#{c.id}", disabled: !current_teacher.can_register? %>
			  		</td>
			  		<td class="padding-td">
		    			<label for="course_<%= c.id %>">
			      		<%= c.name %>
		    			</label>
			  		</td>
			  	</tr>
		  <% end %>
		</tbody>
	</table>
<% end %>