<h1>No pos WAUF</h1>
<h3>Bienvenido(a): <%= current_teacher.name %></h3>
<p>Primera Prueba del proyecto :3</p>

<div>
	<%= link_to 'Build my schedule', schedules_path, class:"btn btn-primary" %>
	<br>
	<br>
	<% if teacher_signed_in? %>
	  <%= link_to 'Logout', destroy_teacher_session_path, method: :delete, class:"btn btn-danger" %>        
	<% end %>
</div>