/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.margin-signup{
	margin-top: 10px;
}

.margin-signin{
	margin-top: 6%;
}

.margin-signup{
	margin-top: 1%;
}