.green{
	background-color: green;
}

.centered{
	text-align: center;
}

.pull-right{
	float: right;
}

#button-save-calendar{
	margin-bottom: 10px;
}

.basic-left-margin{
	padding-left: 42px;
}

.info-margin{
  padding-top: 10px;
}

.past-hours{
	color: red;
}

.current-hours{
	color: green;
}

.margin-td-view{
	padding-bottom: 5px;
}

.asd{
	color: red;
}