.green{
	background-color: green;
}

.centered{
	text-align: center;
}

.pull-right{
	float: right;
}

#button-save-calendar{
	margin-bottom: 10px;
}

.basic-left-margin{
	padding-left: 42px;
}

.details{
	tr:first-child{
		border-top: 2px solid white;
	}
	tr:last-child{
		border-bottom: 2px solid white;
	}
}

.info-margin{
  padding-top: 10px;
}

.past-hours{
	color: red;
}

.current-hours{
	color: green;
}

.margin-td-view{
	padding-bottom: 5px;
}

.padding-td{
	padding-left: 10px;
}